<h1 *ngIf="result">{{result}}  g/an</h1>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
        <label for="formGroupExampleInput">Nj</label>
        <input type="text" class="form-control" name="n" id="n" ngModel placeholder="Nj">
      </div>
      <div class="col-md-6">
        <label for="formGroupExampleInput">T</label>

        <select class="custom-select form-control" name="t" id="t" ngModel>
          <option value="0"> -5 < T < 10 C°</option>
          <option value="1"> 0 < <strong>T</strong> < 15 C°</option>
          <option value="2"> 10 <strong>T</strong> > 25 C°</option>
          <option value="3"> 20 <strong>T</strong> > 35 C°</option>
        </select>
      </div>
    </div></div>
    <div class="row" style="margin-top: 4%">
      <div class="col-md-6">
        <label for="formGroupExampleInput">Bobine</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Types</label>
          </div>
          <select class="custom-select form-control" id="inputGroupSelect01" name="bobine" id="bobine" ngModel>
            <option selected>Choisir Type Bobine...</option>
            <option value="0">Petite</option>
            <option value="1">Moyenne</option>
            <option value="2">Grand</option>
            <option value="3">Non-Controllée</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <label for="formGroupExampleInput">Consommation</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Types</label>
          </div>
          <select class="custom-select form-control"  name="cons" id="cons" ngModel>
            <option selected>Choisir Type Consommation...</option>
            <option value="0"><strong>Cons</strong> < 1,4 L</option>
            <option value="1">1,4 < <strong>Cons</strong> <2 L</option>
            <option value="2"> <strong>Cons</strong> > 2 L</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="formGroupExampleInput">X</label>
        <input type="text" class="form-control" name="x" id="x" ngModel placeholder="Nombre de trajets par jour">
      </div>
      <div class="col-md-6">
        <label for="formGroupExampleInput">C</label>
        <input type="text" class="form-control" name="c" id="c" ngModel placeholder="C">
      </div>
    </div>
  <br>
    <div class="row">

      <div class="col-md-6">
        <label for="formGroupExampleInput">P</label>
        <input type="text" class="form-control" name="p" id="p" ngModel placeholder="P">
      </div> <div class="col-md-6">
        <label for="formGroupExampleInput">Ds</label>
        <input type="text" class="form-control" name="ds" id="ds" ngModel placeholder="Nombre de jours d'exploitation par an">
      </div>

    </div>
  <br>
  <button style="width: 30%;margin-left: 35%" type="submit" class="btn btn-success">Calcul</button>

</form>
